<div ng-controller="profileCtrl"> 
    <div class="animated fadeIn">
      <div class="page-header-div">
        <h3  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">My Profile</h3>
      </div>
        <div class="w-100 pull-left">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6 profileEditDiv">
                    <form enctype="multipart/form-data" name="profileData" ng-submit="profileData.$submitted&&saveProfileData()">
                        <div class="row">
                            <h3 class="pageHeader">Personal Information</h3>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 profileDivs">
                            <a ng-click="triggerFile()" style="margin-top:0px;margin-right:0px;font-size:0;opacity: 1">
                                <img id="proPic" ng-src="{{profile.profilePic!='' ? profile.profilePic : 'img/SVG/avatar.svg'}}" class="img-circle">
                            </a>
                            <input type="file" style="display: none;" class="upload profileUpload" name="profilePic" onchange="angular.element(this).scope().profileUpload(this.files)" id="fileInput" data-button-text="Single" uploader="uploader" accept="image/*" />


                            <md-input-container>
                                <label>Partner ID</label>
                                <input type="text" ng-model="referral_code" class="form-control" disabled/>
                            </md-input-container>
                            <md-input-container>
                                <label>Name</label>
                                <input name="userName" maxlength=25 type="text" ng-model="profile.name" ng-change="profileEditFn()" class="form-control" required/>
                            </md-input-container>
                            <div class="row profileSelect">
                                <md-select class="col-lg-2 col-xs-3 col-sm-2 col-md-2" ng-model="profile.codeSelect" ng-change="profileEditFn()" >
                                    <md-option ng-value="country" ng-repeat="country in countries" ng-selected="{{ country.Code === code ? 'true' : 'false' }}">+{{country.Code}}
                                    </md-option>
                                </md-select>
                                <md-input-container class="col-lg-10 col-xs-9 col-sm-10 col-md-10" style="padding-left: 0;padding-right:0">
                                    <label>Phone</label>
                                    <input type="text"  onkeypress="return isNumberKey(event)" minlength=9 maxlength=18 ng-change="profileEditFn()" data-input-mask="{mask: '(000) 000-0000'}" ng-model="profile.phone" class="form-control" required/>
                                </md-input-container>
                            </div>
                            <md-input-container>
                                <label>Email</label>
                                <input name="userEmail" type="email" ng-model="profile.email" ng-change="profileEditFn()" class="form-control" required/>
                            </md-input-container>
                            <div style="display:inline-flex">
                            <md-input-container class="col-lg-4 col-md-4 col-sm-4 col-xs-12 zipcode">
                            <input type="text" onkeypress="return isNumberKey(event)" maxlength=6 ng-model="profile.zip" placeholder="Zipcode" typeahead="address as address.zip for address in getLocation($viewValue)" typeahead-min-length='4'  typeahead-loading="loadingLocations" typeahead-select-on-exact="true" typeahead-on-select="zipSelect($item, $model, $label, $event)"
                            typeahead-select-on-blur="true" typeahead-no-results="noResults" class="form-control" ng-change="profileEditFn()" required>
                            <i ng-show="loadingLocations" class="fa fa-refresh" style="position: absolute;color: #505050;right:15px"></i>
                            <div ng-show="noResults" class="noResults">
                              <i class="fa fa-remove"></i> No Results Found
                            </div>
                            </md-input-container>
                            <md-input-container class="col-lg-4">
                                <label>State</label>
                                <input type="text"
                                       ng-model="profile.state_name"
                                       class="form-control" required readonly  ng-change="profileEditFn()"/>
                            </md-input-container>
                            <md-input-container class="col-lg-4">
                                <label>City</label>
                                <input type="text"
                                       ng-model="profile.city"
                                       class="form-control" required readonly  ng-change="profileEditFn()"/>
                            </md-input-container>
                          </div>
                            <button ng-disabled="!profileEdit" type="submit" class="btn-form col-lg-12" style="clear:both">Save Changes</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
                    <div class="row">
                        <h3 class="pageHeader">Account Information</h3>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 profileDivs" ng-show="!bank_error">
                        <md-input-container>
                            <label>Account holder name</label>
                            <input name="userName" type="text" ng-model="account.accountName" ng-change="accountEditFn()" class="form-control" required readonly/>
                        </md-input-container>
                        <md-input-container>
                            <label>Account Number</label>
                            <input name="userPhone" type="text" ng-model="account.accountNumber" ng-change="accountEditFn()" class="form-control" required readonly/>
                        </md-input-container>
                        <md-input-container>
                            <label>Routing Number</label>
                            <input name="userPhone" type="text" ng-model="account.routingNumber" ng-change="accountEditFn()" class="form-control" required readonly/>
                        </md-input-container>
                        <!-- <button ng-disabled="!accountEdit" class="btn-form">Save Changes</button> -->
                    </div>

                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 profileDivs" ng-show="bank_error">
                        <label class="col-lg-12">No bank account added yet</label>
                        <button ng-click="addAccount()">Add Account</button>
                    </div>
                    <div class="row">
                        <h3 class="pageHeader">My Membership Level</h3>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 profileDivs membershipDiv" style="display: flex">
                        <img src="img/SVG/silver_graphic.svg" class="col-lg-3" ng-if="profile.membership_level==0">
                        <h5 class="col-lg-9 profileMembership" ng-if="profile.membership_level==0">Silver Level Membership</h5>
                        <img src="img/SVG/silver_graphic.svg" class="col-lg-3" ng-if="profile.membership_level==1">
                        <h5 class="col-lg-9 profileMembership" ng-if="profile.membership_level==1">Silver Level Membership</h5>
                        <img src="img/SVG/gold_graphic.svg" class="col-lg-3" ng-if="profile.membership_level==2">
                        <h5 class="col-lg-9 profileMembership" ng-if="profile.membership_level==2">Gold Level Membership</h5>
                        <img src="img/SVG/platinum_graphic.svg" class="col-lg-3" ng-if="profile.membership_level==3">
                        <h5 class="col-lg-9 profileMembership" ng-if="profile.membership_level==3">Platinum Level Membership</h5>
                        <img src="img/SVG/diamond_graphic.svg" class="col-lg-3" ng-if="profile.membership_level==4">
                        <h5 class="col-lg-9 profileMembership" ng-if="profile.membership_level==4">Diamond Level Membership</h5>
                        <img src="img/SVG/president_graphic.svg" class="col-lg-3" ng-if="profile.membership_level==5">
                        <h5 class="col-lg-9 profileMembership" ng-if="profile.membership_level==1">President's Club</h5>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 profileDivs">
                        <label class="col-lg-12">Business Card</label>
                        <button class="btn-form col-lg-12" ng-click="applyCard(0)" ng-if="businessCard.length==0">Apply</button>
                        <!-- <label ng-if="businessCard.length>0">Already Applied</label> -->
                        <div ng-repeat="card in businessCard">
                          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6">Card {{$index+1}} <i class="fa fa-credit-card"></i></label>
                          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-6" >{{card.status}}</label>
                          <a class="btn btn-sm btn-actions pull-right" title="Cancel" ng-click="cancelConfirmCard(card.business_card_id)" ng-show="card.status_id==1">
                              <img src='img/SVG/delete.svg' style="width: 100%;">
                          </a>
                          <a class="btn btn-sm btn-actions pull-right" title="Edit" ng-click="applyCard(1,card)" ng-show="card.status_id==1">
                              <img src='img/SVG/edit.svg' style="width: 100%;">
                          </a>

                        </div>
                    </div>
                </div>
        </div>

    </div>
    <script type="text/ng-template" ng-show="visible" id="cancel_card_modal">
            <div class="ngdialog-message logoutpopo">
                <div class="ngdialog-header">
                    <p>Confirmation</p>
                </div>
                <div class="ngdialog-body">
                    <p>Are you sure you want to <strong>cancel</strong> your request for business card from the system? </p>
                    <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default pull-left btn-cancel">Cancel
                    </button>
                    <button type="button" ng-click="cancel_card(id)" class="btn btn-primary pull-right btn-pop">Yes
                    </button>
                </div>
            </div>
        </script>
        <script type="text/ng-template" ng-show="visible" id="applyCard">
            <div class="ngdialog-message">

                <div class="ngdialog-header">
                    <h4>Business Card</h4>
                </div>
                <form name="cardForm" ng-submit="cardForm.$submitted&&applyBusinessCard()">
                    <div class="ngdialog-body prospectDiv">
                        <md-input-container class="col-lg-12">
                            <label>Name</label>
                            <input type="text" maxlength=25 style="text-transform:capitalize" ng-model="card.full_name" class="form-control" required/>
                        </md-input-container>


                        <md-select ng-if="!addPro" class="col-lg-2 col-xs-3 col-md-2 col-sm-2" ng-model="card.codeSelect">
                            <md-option ng-value="country" ng-repeat="country in countries" ng-selected="{{ country.Code === code ? 'true' : 'false' }}">+{{country.Code}}
                            </md-option>
                        </md-select>
                        <md-select ng-if="addPro" class="col-lg-2 col-xs-3 col-md-2 col-sm-2" ng-model="card.codeSelect" ng-change="check_mobile()">
                            <md-option ng-value="country" ng-repeat="country in countries" ng-selected="$index == 0">+{{country.Code}}
                            </md-option>
                        </md-select>
                        <md-input-container class="col-lg-10 col-xs-9 col-md-10 col-sm-10" style="padding-left:0">
                            <label>Phone</label>
                            <input  type="text" maxlength=15 minlength=9 onkeypress="return isNumberKey(event)" data-input-mask="{mask: '(000) 000-0000'}" ng-model="card.mobile" maxlength="12" class="form-control" required />
                        </md-input-container>
                        <!-- <span ng-show="PhoneNotAvailable" class="alert errorSpan" style="margin-left: 7px">Mobile number already registered</span> -->
                        <md-input-container class="col-lg-12">
                            <label>Email</label>
                            <input type="email" ng-model="card.email" class="form-control" required />
                        </md-input-container>
                        <md-input-container class="col-lg-12">
                          <md-select ng-model="card.designation" placeholder="Status*">
                              <md-option ng-value="designation" ng-repeat="designation in designations" ng-selected="{{ designation.designation_id === card.designation_id ? 'true' : 'false' }}" >{{designation.designation_name}}
                              </md-option>
                          </md-select>

                        </md-input-container>
                        <hr class="popHR">
                        <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default pull-left btn-cancel">Cancel
                        </button>
                            <button type="submit" class="btn btn-primary pull-right btn-pop">{{addEditBtn}}
                        </button>

                    </div>
                </form>
            </div>
        </script>
        <div id="imageCropPopUp" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body p-30" style="text-align: center;">
                            <div class="cropArea">
                                <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                            </div>
                            <div>Cropped Image:</div>
                            <div><img ng-src="{{myCroppedImage}}" /></div>
                            <button class="btn btn-primary" style="width:30%;margin-top: 35px;" ng-click="saveCroppedPic()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
</div>
